TraceLevel=3
TraceModule=0x0000

## Options to control the applied modules. The input may be partially
## processed, or not a full analysis may me wanted. The specific
## formats are a choice of the main program using the library, as well
## as the responsability of calling only the required modules.
## Valid input formats are: plain, token, splitted, morfo, tagged, sense.
## Valid output formats are: : plain, token, splitted, morfo, tagged,
## shallow, parsed, dep.
# InputFormat=plain gch 2020
# OutputFormat=dep gch 2020
# consider each newline as a sentence end
AlwaysFlush=no

#### Tokenizer options
TokenizerFile=$FREELINGSHARE/fr/tokenizer.dat

#### Splitter options
SplitterFile=$FREELINGSHARE/fr/splitter.dat

#### Morfo options
AffixAnalysis=yes
MultiwordsDetection=no
NumbersDetection=yes
PunctuationDetection=yes
DatesDetection=yes
QuantitiesDetection=yes
DictionarySearch=yes
ProbabilityAssignment=yes
# OrthographicCorrection=no gch 2020
DecimalPoint=,
ThousandPoint=.
LocutionsFile=$FREELINGSHARE/fr/locucions.dat
QuantitiesFile=$FREELINGSHARE/fr/quantities.dat
AffixFile=$FREELINGSHARE/fr/afixos.dat
ProbabilityFile=$FREELINGSHARE/fr/probabilitats.dat
DictionaryFile=$FREELINGSHARE/fr/dicc.src
PunctuationFile=$FREELINGSHARE/common/punct.dat
ProbabilityThreshold=0.001

# NER options
NERecognition=yes
NPDataFile=$FREELINGSHARE/fr/np.dat

## comment line above and uncomment that below, if you want
## a better NE recognizer (higer accuracy, lower speed)
#NPDataFile=$FREELINGSHARE/fr/ner/ner-ab.dat

#Spelling Corrector config file
# CorrectorFile=$FREELINGSHARE/fr/corrector/corrector.dat
## Phonetic encoding of words.
Phonetics=no
PhoneticsFile=$FREELINGSHARE/fr/phonetics.dat
## NEC options
NEClassification=no
NECFile=$FREELINGSHARE/fr/nec/nec-svm.dat

## Sense annotation options (none,all,mfs,ukb) 
SenseAnnotation=none
SenseConfigFile=$FREELINGSHARE/fr/senses.dat
UKBConfigFile=$FREELINGSHARE/fr/ukb.dat

#### Tagger options
Tagger=hmm
TaggerHMMFile=$FREELINGSHARE/fr/tagger.dat
TaggerRelaxFile=$FREELINGSHARE/fr/constr_gram.dat
TaggerRelaxMaxIter=500
TaggerRelaxScaleFactor=670.0
TaggerRelaxEpsilon=0.001
TaggerRetokenize=yes
TaggerForceSelect=tagger

#### Parser options
GrammarFile=$FREELINGSHARE/fr/chunker/grammar-chunk.dat

#### Dependence Parser options
#DepTxalaFile=$FREELINGSHARE/fr/dep/dependences.dat gch 2020
DepTxalaFile=$FREELINGSHARE/fr/dep_txala/dependences.dat # gch 2020

#### Coreference Solver options
# CoreferenceResolution=no gch 2020
CorefFile=$FREELINGSHARE/fr/coref/coref.dat
